
<h2>Home view bruva!</h2>

<p>
  We are inyectin some html w handlebars
</p>

<section class="views">
  <p>
    Available views:<br>
    <br><a href="ascii.hbs">ASCII Art Reader</a> 
  </p>
</section>

{{!-- 
TODO:
Later on make database (table)
of all the available pages and their links
put it in an object and render with a loop
 --}}